@use "../../assets/sass/_variables.scss" as *;
.counter{
    border: 2px solid $color-darkblue;
    width: 60%;
    border-radius: 25px;
    background-color: $color-lightblue;

    &__heading{
        font-family: $font-heading;
        color: $color-darkblue;
        text-align: center;
    }

    &__display{
        font-family: $font-heading;
        color: $color-darkblue;
        text-align: center;
    }

    &__button-section {
        display: flex;
        margin: 20px auto;
        width: fit-content;
    }

}