.employee-card{
    height:400px;
    width: 200px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #fbb7fc;
    margin: 10px;

   
    

    &__counter{
        border: 2px solid black
    }
}

.employee-info{
    height: 30vh;
    width: auto;

    &__name{
        color: #dc35df;
        text-align: center;
    }

    &__role{
        color: #dc08e0;
        text-align: center;
    }
}




