@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Tenor+Sans&display=swap');

$font-main:'Poiret One', cursive;
$font-heading: 'Tenor Sans', sans-serif;

$color-pink: #f7cac9;
$color-peach: #f7786b;
$color-darkblue: #034f84;
$color-lightblue: #92a8d1